<div class="container">
  <h1>Deaf Aunty</h1>

  <p>Say something to Aunty</p>

  <form action="/aunty" method="post">
    <input type="text" name="user_input">
    <input type="submit" value="Say It!">
  </form>

  <h2>Conversation</h2>
  <div class="conversation"></div>
</div>